<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dreamfood">
    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mula"
        android:label="GET EXPERT"
        android:roundIcon="@drawable/mula"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Materials.Pay.Add_Coin_Activity"
            android:exported="false" />
        <activity
            android:name=".BusinessLayer.Profile.Teacher_Profile"
            android:exported="false" />
        <activity
            android:name=".Google_Signin_Activity"
            android:exported="false" />
        <activity
            android:name=".Materials.Quiz.Show_questions.Open_Question_Fun"
            android:exported="false" />
        <activity
            android:name=".List_Activity_With_Search"
            android:exported="false" />
        <activity
            android:name=".Materials.Quiz.Add_Quiz"
            android:exported="false" />
        <activity
            android:name=".Materials.Quiz.Fun_Quiz_Activity"
            android:exported="false" />
        <activity
            android:name=".Fragment_Activity_default"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="false" />
        <activity
            android:name=".Card_View"
            android:exported="false" />
        <activity
            android:name=".Materials.Quiz.Quiz_One_Question_View"
            android:exported="false" />
        <activity
            android:name=".Get_Started_Student"
            android:exported="false" />
        <activity
            android:name=".Materials.summary.Add_summary"
            android:exported="false" />
        <activity
            android:name=".Materials.Quiz.quiz_list"
            android:exported="false" />
        <activity
            android:name=".BusinessLayer.Profile.Pick_A_Teacher"
            android:exported="false" />
        <activity
            android:name=".About_US.About_Us_Teacher_Version"
            android:exported="false" />
        <activity
            android:name=".About_US.About_us"
            android:exported="false" />
        <activity
            android:name=".Student_Controller.scrolling_activity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student_Controller.Add_Deal_For_Students"
            android:exported="false" />
        <activity
            android:name=".Google_Controller.Google_EditText"
            android:exported="false" />
        <activity
            android:name=".Teacher_Controller.Teacher_Upload_Box"
            android:exported="false" />
        <activity
            android:name=".Materials.Record.Show_Recordings"
            android:exported="false" />
        <activity
            android:name=".Materials.Record.Add_Video"
            android:exported="false" />
        <activity
            android:name=".Materials.Record.Recordings"
            android:exported="false" />
        <activity
            android:name=".Video"
            android:exported="false" />
        <activity
            android:name=".viewmodel.Add_deal"
            android:exported="false" />
        <activity
            android:name=".Teacher_Controller.Subscribes_teacher"
            android:exported="false" />
        <activity
            android:name=".Materials.Chat.Chat_student"
            android:exported="false" />
        <activity
            android:name=".Materials.Quiz.Quiz_One_Question_View"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Materials.Test.Test_result"
            android:exported="false" />
        <activity
            android:name=".Student_Controller.Student_details"
            android:exported="false" />
        <activity
            android:name=".PDF_Controller.Check_pdf"
            android:exported="false" />
        <activity
            android:name=".Materials.Meeting.Connect_to_Zoom"
            android:exported="false" />
        <activity
            android:name=".PDF_Controller.Create_pdf"
            android:exported="false" />
        <activity
            android:name=".Materials.Chat.Chat_Meesage"
            android:exported="false" />
        <activity
            android:name=".Teacher_Controller.Teacher_details"
            android:exported="false" />
        <!--
             You can find your app ID in the AdMob UI. For android:value,
            insert your own AdMob app ID in quotes, as shown below.
            Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713
        -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" /> <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".Google_Controller.CheckoutActivity"
            android:exported="false"
            android:label="@string/title_activity_checkout"
            android:theme="@style/AppTheme" /> <!-- This element is required to enable Google Pay in your app. -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".PDF_Controller.Draw"
            android:exported="false" />
        <activity
            android:name=".PDF_Controller.PDF"
            android:exported="false" />
        <activity
            android:name=".Materials.Test.Test_Activity"
            android:exported="false" />
        <activity
            android:name=".Materials.Quiz.Quiz_result"
            android:exported="false" />
        <activity
            android:name=".Materials.Quiz.Quiz_activity"
            android:exported="false" />
        <activity
            android:name=".Student_Controller.Student_home"
            android:exported="false" />
        <activity
            android:name=".Teacher_Controller.teacher_layout"
            android:exported="false" />
        <activity
            android:name=".open_course"
            android:exported="false" />
        <activity
            android:name=".Google_Controller.ADS"
            android:exported="false"
            android:label="@string/title_activity_ads" />
        <activity
            android:name=".PDF_Controller.add_pdf"
            android:exported="false" />
        <activity
            android:name=".Materials.Test.Open_Test"
            android:exported="false" />
        <activity
            android:name=".Materials.Chat.Chat_Active"
            android:exported="false" />
        <activity
            android:name=".Materials.Chat.OpenChat"
            android:exported="false" />
        <activity
            android:name=".Web"
            android:exported="false" />
        <activity
            android:name=".Materials.Quiz.Open_Quiz"
            android:exported="false" />
        <activity
            android:name=".Teacher_Controller.Teacher_home"
            android:exported="false" />
        <activity
            android:name=".Materials.Meeting.OpenZoom"
            android:exported="false" />
        <activity
            android:name=".Student_Controller.search"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>